{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [2, "never"],
    "id-length": 0,
    "new-cap": [2, {"capIsNewExceptions": ["List", "Map", "OrderedMap", "Set", "OrderedSet", "Record", "Seq", "Iterable", "TreeNodeMixin", "MessageDataMixin"]}],
    "class-methods-use-this": 0,
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
    }],
    "function-paren-newline": 0,
    "global-require": 0,
    "import/first": 0,
    "import/no-named-as-default-member": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/tabindex-no-positive": 0,
    "max-len": 0,
    "no-bitwise": 0,
    "no-confusing-arrow": 0,
    "no-continue": 0,
    "no-mixed-operators": 0,
    "no-multi-assign": 0,
    "no-multi-spaces": 0,
    "no-param-reassign": 0,
    "no-path-concat": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "no-restricted-globals": 0,
    "no-restricted-properties": 0,
    "no-underscore-dangle": 0,
    "object-curly-newline": 0,
    "object-curly-spacing": 0,
    "object-shorthand": 0,
    "prefer-destructuring": 0,
    "prefer-template": 0,
    "quote-props": 0,
    "react/destructuring-assignment": [2, "never"],
    "react/forbid-prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-find-dom-node": 0,
    "react/no-string-refs": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unused-prop-types": 0,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "space-before-function-paren": [2, {"anonymous": "never", "named": "never"}]
  },
  "globals": {
    "Heim",
    "Raven",
    "uidocument",
    "uiwindow"
  }
}
